/* Layout */



/* Utility classes */

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.txt-left {
    text-align: left;
} 

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.py-200 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.height-100 {
    height: 100vh;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
}

span.style_txt_error {
    color: red;
    font-size: 0.9em;
}

/* Styles classes */

.bg-light-blue {
    background-color: #d0e7f9;
}

.bg-black-blue {
    background-color: #0a2342;
    color: white;
}



/* media queries */

@media screen and  (max-width: 576px) {
    .content_buttons {
        text-align: center;
    }
}

@media screen and  (max-width: 576px) {
    .py_50 {
        padding: 50px 0 0 0;
    }
}